*
    font-family: 'Roboto Mono'

a
    text-decoration: none
    color: #000
    &:hover
        color: #28e1ae

h1
    text-align: center

.logo
    pointer-events: none
    position: relative
    margin-left: 50%
    transform: translateX(-50%)
    background-size: contain
    background-position: center
    background-repeat: no-repeat
    z-index: 10 !important
    height: 25%

.searchbar
    margin-top: -110px
    display: flex
    align-items: center
    justify-content: center    
    input
        border: none
        background: #eee
        height: 50px
        width: 25vw
        padding: 10px 20px
        border-radius: 10px
        font-size: 20px
        &:focus
            outline: none
            -moz-outline: none

.center
    display: flex
    align-items: center
    justify-content: center

ul.array
    li
        display: inline-block