* { font-family: 'Roboto Mono'; }

h1 { text-align: center; }

.logo { pointer-events: none; position: relative; margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); background-size: contain; background-position: center; background-repeat: no-repeat; z-index: 10 !important; height: 25%; }

.searchbar { margin-top: -110px; margin-left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); }

.searchbar input { border: none; background: #eee; height: 50px; width: 50vw; padding: 10px 20px; border-radius: 10px; font-size: 15px; }

.searchbar input:focus { background: #28e1ae; outline: none; }

.menu ul { padding-left: 0; list-style: none; text-align: center; }

.menu li { display: inline-block; }

.menu a { font-size: 2em; text-decoration: none; color: #000000; margin-left: 20px; border-bottom: 3px solid #28e1ae; }

.menu a:hover { border-bottom: 3px dashed #28e1ae; }
