{% extends 'base.pug' %}
{% load i18n static %}
{% block title %} {{page_title}} {% endblock title %}
{% block content %}

img.logo(src="{% static 'pages/images/logo-dark.png' %}", alt="Clef")
form.searchbar(action="{% url 'home' %}", method="get")
    input(name='q' type="text")
.center
    ul.array
        li
            i.zmdi.zmdi-filter.zmdi-hc-lg
            a(href="?sort=blablablab") lol
    
{% endblock content %}